<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <header><h1>ToDo List</h1></header>
    <main>
        <form action="/add" method="post">
            <input type="text" id="item" name="item" placeholder="New Item">
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% toDoItems.forEach((item, index) => { %>
                <li>
                    <form action="/delete" method="post">
                        <input type="hidden" name="index" value="<%= index %>">
                        <span><%= item %></span>
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>
